# IDE folders
.idea

# Virtual environment
venv/

# Directories which are created by UGATIT. TODO: skip folder creation
checkpoint/
logs/
samples/
results/

# Configuration file with API_KEY
bot.conf
